name: Tests of the ROBDD

on: push

env:
    BUILD_TYPE: Release
    
jobs:
    build:
        runs-on: ubuntu-latest
    
        steps:
        - uses: actions/checkout@v2
          with:
            submodules: recursive
        
        - name: Install GTest
          run: |
            sudo apt-get install libgtest-dev
            cd /usr/src/gtest
            sudo cmake CMakeLists.txt
            sudo make
            
        - name: Create Build Environment
          run: cmake -E make_directory ${{runner.workspace}}/build
         
        - name: Configure CMake
          shell: bash
          working-directory: ${{runner.workspace}}/build
          run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE
          
        - name: Build VDSProject_test
          working-directory: ${{runner.workspace}}/build
          shell: bash
          run: cmake --build . --config $BUILD_TYPE --target VDSProject_test
          
        - name: Run VDSProject_test
          working-directory: ${{runner.workspace}}/build
          shell: bash
          run: ${{runner.workspace}}/build/src/test/VDSProject_test
    